In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
matches = pd.read_csv('matches.csv')
lineups = pd.read_csv('lineups.csv')

In [3]:
matches

,id,t1_lineup,t2_lineup,t1_score,t2_score,date,map,tourney
0,99939,12521-12553-12822-15631-8565,12088-12271-7356-8575-9069,16,7,2020-03-07 23:05,Nuke,5178
1,80337,10588-4679-8082-8248-9686,11815-13624-13631-15084-15534,16,7,2019-01-22 09:00,Inferno,4207
2,88709,4954-7398-7412-7592-9032,13666-3849-7443-7528-884,16,6,2019-07-03 13:25,Nuke,4281
3,81148,11654-12732-12733-13157-8726,1045-13148-13679-7218-9960,14,16,2019-02-08 12:05,Dust2,4346
4,96720,284-3972-7167-9616-9618,14737-2023-5736-8564-9217,11,16,2019-12-13 03:20,Vertigo,4998
...,...,...,...,...,...,...,...,...
1553,92743,10330-14148-14419-7415-9612,11701-12126-2799-8575-9656,5,16,2019-10-01 14:00,Train,4492
1554,91791,10394-7687-8520-8738-8797,11154-11329-11747-14737-15914,14,16,2019-09-17 21:40,Mirage,4838
1555,92150,11701-12126-2799-8575-9656,1045-11777-1378-6904-7218,16,10,2019-09-22 10:00,Dust2,4826
1556,76425,4954-7398-7412-7592-9032,165-317-7356-8324-9574,16,8,2018-10-30 18:00,Inferno,4071
1557,81454,11654-12732-12733-13157-8726,11250-11515-13915-9349-9350,16,14,2019-02-14 17:00,Inferno,4409

In [4]:
lineups

,lineup,Dust2_times_played,Dust2_wins,Dust2_total_rounds_played,Dust2_rounds_won,Dust2_win_percent,Dust2_pistol_round_win_percent,Inferno_times_played,Inferno_wins,Inferno_total_rounds_played,...,Train_total_rounds_played,Train_rounds_won,Train_win_percent,Train_pistol_round_win_percent,Vertigo_times_played,Vertigo_wins,Vertigo_total_rounds_played,Vertigo_rounds_won,Vertigo_win_percent,Vertigo_pistol_round_win_percent
0,284-3972-7167-9616-9618,24,16,640,348,66.7%,56.2,10,6,263,...,430,232,66.7%,46.7,15,10,383,225,66.7%,63.3
1,11816-2730-429-8574-9960,40,29,1053,581,72.5%,55.0,44,31,1170,...,974,544,80.0%,45.7,12,8,306,168,66.7%,50.0
2,11654-12732-12733-13157-8726,59,34,1563,806,57.6%,46.6,104,73,2767,...,1248,666,60.4%,56.2,9,4,283,138,44.4%,50.0
3,12731-14273-18317-7716-8789,28,22,746,421,78.6%,55.4,20,14,544,...,405,205,46.7%,50.0,5,2,132,65,40.0%,30.0
4,10330-14148-14419-9612,28,14,725,357,50.0%,51.8,12,4,328,...,795,453,76.7%,56.7,11,7,279,151,63.6%,40.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,11498-13915-7403-7490-7796,3,2,89,46,66.7%,66.7,0,0,0,...,55,32,100.0%,75.0,0,0,0,0,0.0%,0.0
126,11271-13186-13250-18105-7253,2,1,56,30,50.0%,25.0,5,3,115,...,24,8,0.0%,100.0,1,0,27,11,0.0%,0.0
127,136-3252-5794-5796-7256,3,1,72,31,33.3%,50.0,7,6,176,...,114,56,60.0%,60.0,0,0,0,0,0.0%,0.0
128,13186-13250-14203-18105-7253,1,0,20,4,0.0%,0.0,2,1,60,...,30,16,100.0%,50.0,0,0,0,0,0.0%,0.0
129,12599-13693-14561-180-839,3,1,67,31,33.3%,16.7,1,0,22,...,21,5,0.0%,0.0,0,0,0,0,0.0%,0.0

In [5]:
lineups_arr = lineups['lineup'].to_numpy()

In [6]:
matches_in = matches.apply(lambda x: True if (x['t1_lineup'] in lineups_arr) and
                           (x['t2_lineup'] in lineups_arr) else False, axis=1)

In [7]:
m = matches[matches_in]

In [8]:
tr = m[m['tourney'] != 4901]

In [9]:
IEM_matches = m[m['tourney'] == 4901]

In [10]:
IEM_matches

,id,t1_lineup,t2_lineup,t1_score,t2_score,date,map,tourney
139,99272,11140-11162-11485-9102-9115,11110-13666-3055-3849-7528,14,16,2020-02-24 13:25,Inferno,4901
141,99293,10394-7687-8520-8738-8797,11716-11942-13239-13776-334,16,9,2020-02-25 11:00,Mirage,4901
182,99379,4954-7398-7412-7592-9032,11110-13666-3055-3849-7528,16,8,2020-02-27 13:25,Vertigo,4901
302,99443,11110-13666-3055-3849-7528,284-3972-7167-9616-9618,12,16,2020-02-29 14:00,Train,4901
311,99343,284-3972-7167-9616-9618,11816-2730-429-8574-9960,16,7,2020-02-26 14:55,Nuke,4901
314,99312,11840-16947-7594-7998-8918,11110-13666-3055-3849-7528,12,16,2020-02-25 17:30,Mirage,4901
335,99416,11110-13666-3055-3849-7528,10588-4679-8082-8248-9686,19,16,2020-02-28 14:00,Mirage,4901
390,99350,10394-7687-8520-8738-8797,10671-11219-8507-8523-9136,16,10,2020-02-26 18:40,Inferno,4901
409,99280,11840-16947-7594-7998-8918,18053-3741-8183-885-9216,16,10,2020-02-24 13:35,Overpass,4901
457,99422,11840-16947-7594-7998-8918,10394-7687-8520-8738-8797,16,13,2020-02-28 18:00,Mirage,4901
487,99268,4954-7398-7412-7592-9032,11630-12713-13230-13249-8711,16,12,2020-02-24 11:00,Train,4901
526,99282,10588-4679-8082-8248-9686,284-3972-7167-9616-9618,2,16,2020-02-24 18:20,Dust2,4901
607,99307,11140-11162-11485-9102-9115,18053-3741-8183-885-9216,10,16,2020-02-25 15:50,Mirage,4901
618,99330,10588-4679-8082-8248-9686,10774-11188-7028-8552-8605,16,10,2020-02-26 11:00,Vertigo,4901
620,99388,11840-16947-7594-7998-8918,18053-3741-8183-885-9216,16,14,2020-02-27 15:05,Inferno,4901
641,99297,13670-14218-7443-9261-9278,11630-12713-13230-13249-8711,16,9,2020-02-25 13:45,Vertigo,4901
825,99393,10588-4679-8082-8248-9686,11816-2730-429-8574-9960,16,14,2020-02-27 19:05,Nuke,4901
933,99385,284-3972-7167-9616-9618,10394-7687-8520-8738-8797,16,10,2020-02-27 15:50,Vertigo,4901
1009,99452,11840-16947-7594-7998-8918,4954-7398-7412-7592-9032,16,5,2020-02-29 18:35,Nuke,4901
1063,99378,10588-4679-8082-8248-9686,10671-11219-8507-8523-9136,16,12,2020-02-27 11:00,Dust2,4901
1247,99279,11816-2730-429-8574-9960,10774-11188-7028-8552-8605,16,10,2020-02-24 16:00,Dust2,4901
1336,99334,13670-14218-7443-9261-9278,11840-16947-7594-7998-8918,10,16,2020-02-26 13:30,Train,4901
1450,99484,284-3972-7167-9616-9618,11840-16947-7594-7998-8918,2,16,2020-03-01 16:00,Mirage,4901

## Making elo feature:

In [11]:
tr = tr.sort_values(by=['date'])

In [12]:
Winner = np.where(tr['t1_score'] >= tr['t2_score'], tr['t1_lineup'], tr['t2_lineup'])
Loser = np.where(tr['t1_score'] >= tr['t2_score'], tr['t2_lineup'], tr['t1_lineup'])
tr['Winner'] = Winner
tr['Loser'] = Loser

In [13]:
def compute_elo_rankings(data):
    """
    Given the list on matches in chronological order, for each match, computes 
    the elo ranking of the 2 players at the beginning of the match
    
    """
    players=list(pd.Series(list(data.Winner)+list(data.Loser)).value_counts().index)
    elo=pd.Series(np.ones(len(players))*1500,index=players)
    ranking_elo=[(1500,1500)]
    for i in range(1,len(data)):
        w=data.iloc[i-1,:].Winner
        l=data.iloc[i-1,:].Loser
        elow=elo[w]
        elol=elo[l]
        pwin=1 / (1 + 10 ** ((elol - elow) / 400))    
        K_win=32
        K_los=32
        new_elow=elow+K_win*(1-pwin)
        new_elol=elol-K_los*(1-pwin)
        elo[w]=new_elow
        elo[l]=new_elol
        ranking_elo.append((elo[data.iloc[i,:].Winner],elo[data.iloc[i,:].Loser])) 
        if i%5000==0:
            print(str(i)+" matches computed...")
    ranking_elo=pd.DataFrame(ranking_elo,columns=["elo_winner","elo_loser"])    
    ranking_elo["proba_elo"]=1 / (1 + 10 ** ((ranking_elo["elo_loser"] - ranking_elo["elo_winner"]) / 400))   
    return ranking_elo

In [14]:
elo = compute_elo_rankings(tr)

In [15]:
elo

      elo_winner    elo_loser  proba_elo
0    1500.000000  1500.000000   0.500000
1    1484.000000  1500.000000   0.476990
2    1500.736307  1516.000000   0.478048
3    1499.297533  1517.438774   0.473916
4    1500.604097  1500.000000   0.500869
..           ...          ...        ...
556  1545.913401  1500.000000   0.565693
557  1549.561694  1559.811234   0.485254
558  1462.333550  1626.753799   0.279593
559  1603.700790  1486.102167   0.663058
560  1543.339362  1489.147914   0.577361

[561 rows x 3 columns]

In [23]:
import itertools
import datetime


cs_maps = ('Dust2', 'Inferno', 'Mirage', 'Nuke', 'Overpass', 'Train', 'Vertigo')
stats = ('times_played', 'wins')
for cs_map, stat in itertools.product(cs_maps, stats):
    tr['t1_' + cs_map + '_' + stat] = np.zeros(tr.shape[0])
    tr['t2_' + cs_map + '_' + stat] = np.zeros(tr.shape[0])
    
time_span = 90
lineups = set(tr['t1_lineup'].unique()).union(tr['t2_lineup'].unique())
lineups_info = {}

for lineup in lineups:
    lineups_info[lineup] = {}
    lineup_matches = tr[(tr['t1_lineup'] == lineup) | (tr['t2_lineup'] == lineup)]
    indexes = lineup_matches.index
    lineups_info[lineup]['indexes'] = indexes
    for cs_map, stat in itertools.product(cs_maps, stats):
        lineups_info[lineup][cs_map + stat] = [0,]

    for idx in indexes[:-1]:
        lineup_match = lineup_matches.loc[idx]
        for cs_map in cs_maps:
            if lineup_match['map'] == cs_map:
                lineups_info[lineup][cs_map + 'times_played'] +=\
                    [lineups_info[lineup][cs_map + 'times_played'][-1] + 1]
                if lineup_match['Winner'] == lineup:
                    lineups_info[lineup][cs_map + 'wins'] += [lineups_info[lineup][cs_map + 'wins'][-1] + 1]
                else:
                    lineups_info[lineup][cs_map + 'wins'] += [lineups_info[lineup][cs_map + 'wins'][-1]]
            else:
                lineups_info[lineup][cs_map + 'times_played'] += [lineups_info[lineup][cs_map + 'times_played'][-1]]
                lineups_info[lineup][cs_map + 'wins'] += [lineups_info[lineup][cs_map + 'wins'][-1]]

    for i in range(len(indexes)):
        date = lineup_matches.loc[indexes[i]]['date']
        form = '%Y-%m-%d %H:%M'
        for j in range(i+1):
            diff = datetime.datetime.strptime(date, form) -\
                datetime.datetime.strptime(lineup_matches.loc[indexes[j]]['date'], form)
            if diff.days <= time_span:
                j_span = j
                break
        for cs_map, stat in itertools.product(cs_maps, stats):
            if lineup == tr['t1_lineup'].loc[indexes[i]]:
                tr.at[indexes[i], 't1_' + cs_map + '_' + stat] = lineups_info[lineup][cs_map + stat][i] -\
                    lineups_info[lineup][cs_map + stat][j_span]
            else:
                tr.at[indexes[i], 't2_' + cs_map + '_' + stat] = lineups_info[lineup][cs_map + stat][i]-\
                    lineups_info[lineup][cs_map + stat][j_span]

In [24]:
for cs_map in cs_maps:
    tr['t1_' + cs_map + '_played_percent'] = np.zeros(tr.shape[0])
    tr['t2_' + cs_map + '_played_percent'] = np.zeros(tr.shape[0])
    tr['t1_' + cs_map + '_win_percent'] = np.zeros(tr.shape[0])
    tr['t2_' + cs_map + '_win_percent'] = np.zeros(tr.shape[0])

for idx in tr.index:
    s1 = 0
    s2 = 0
    for cs_map in cs_maps:
        s1 += tr.loc[idx]['t1_' + cs_map + '_times_played']
        s2 += tr.loc[idx]['t2_' + cs_map + '_times_played']
    for cs_map in cs_maps:
        t1_times_played = tr.loc[idx]['t1_' + cs_map + '_times_played']
        t2_times_played = tr.loc[idx]['t2_' + cs_map + '_times_played']
        t1_wins = tr.loc[idx]['t1_' + cs_map + '_wins']
        t2_wins = tr.loc[idx]['t2_' + cs_map + '_wins']
        tr.at[idx, 't1_' + cs_map + '_played_percent'] = t1_times_played / s1 if s1 != 0 else 0
        tr.at[idx, 't1_' + cs_map + '_win_percent'] = t1_wins / t1_times_played if t1_times_played != 0 else 0
        tr.at[idx, 't2_' + cs_map + '_played_percent'] = t2_times_played / s2 if s2 != 0 else 0
        tr.at[idx, 't2_' + cs_map + '_win_percent'] = t2_wins / t2_times_played if t2_times_played != 0 else 0

In [25]:
tr

,id,t1_lineup,t2_lineup,t1_score,t2_score,date,map,tourney,Winner,Loser,...,t1_Overpass_wins,t2_Overpass_wins,t1_Train_times_played,t2_Train_times_played,t1_Train_wins,t2_Train_wins,t1_Vertigo_times_played,t2_Vertigo_times_played,t1_Vertigo_wins,t2_Vertigo_wins
326,61479,1225-7167-7168-7322-8374,4954-7398-7412-7592-9032,16,7,2018-02-18 19:45,Inferno,3486,1225-7167-7168-7322-8374,4954-7398-7412-7592-9032,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1120,61906,2023-8564-8568-9216-9217,4954-7398-7412-7592-9032,20,22,2018-02-27 16:35,Mirage,3309,4954-7398-7412-7592-9032,2023-8564-8568-9216-9217,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1130,62808,4954-7398-7412-7592-9032,1225-7167-7168-7322-8374,16,12,2018-03-13 20:30,Mirage,3361,4954-7398-7412-7592-9032,1225-7167-7168-7322-8374,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
414,62814,1225-7167-7168-7322-8374,4954-7398-7412-7592-9032,16,14,2018-03-13 21:30,Inferno,3361,1225-7167-7168-7322-8374,4954-7398-7412-7592-9032,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
234,65632,4954-7398-7412-7592-9032,2757-3741-429-8183-884,16,6,2018-04-21 14:15,Nuke,3491,4954-7398-7412-7592-9032,2757-3741-429-8183-884,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,100054,12781-5794-5796-7266-7938,1064-12010-14929-17566-3517,16,9,2020-03-09 17:00,Nuke,5150,12781-5794-5796-7266-7938,1064-12010-14929-17566-3517,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
337,100057,15697-16847-8327-8539-8570,12781-5794-5796-7266-7938,16,6,2020-03-09 18:00,Dust2,5150,15697-16847-8327-8539-8570,12781-5794-5796-7266-7938,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0
677,100152,12731-14273-18317-7716-8789,11250-13679-339-9348-9349,10,16,2020-03-11 15:05,Vertigo,5150,11250-13679-339-9348-9349,12731-14273-18317-7716-8789,...,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
610,100156,12731-14273-18317-7716-8789,1064-12010-14929-17566-3517,16,6,2020-03-11 16:10,Inferno,5150,12731-14273-18317-7716-8789,1064-12010-14929-17566-3517,...,0.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1157,100209,12572-15639-9277-9279-9811,12781-5794-5796-7266-7938,11,16,2020-03-12 16:05,Inferno,5150,12781-5794-5796-7266-7938,12572-15639-9277-9279-9811,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

## Making actual algorithms:

In [ ]:
target = matches.apply(lambda x: 1 if x['t1_score'] > x['t2_score'] else 0, axis=1)